.navoption {
  padding: 0.65rem 0.75rem;
  min-width: 4rem;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 300;
  cursor: pointer;
  border-bottom: transparent 2.5px solid;
}
.navoption__text {
  margin-top: 0.25rem;
  font-size: 0.65rem;
}
i {
  font-size: 0.8rem;
}
.navoption:hover {
  color: rgb(77, 160, 216);
  border-bottom-color: rgb(77, 160, 216);
}
