.details {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.25rem 0;
  font-size: small;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details p.heading {
  font-weight: bold;
}
